{% load i18n static sekizai_tags cms_tags %}{% spaceless %}

{% include "shop/djng-form.html" %}

{% if stylesheet_url %}{% addtoblock "css" %}<link href="{{ stylesheet_url }}" rel="stylesheet" type="text/css" />{% endaddtoblock %}{% endif %}

{% if many %}
	<div class="alert alert-warning">
	{% blocktrans %}
		Please embed this plugin into a <code>SegmentationPlugin</code> with condition <code>if not many</code>.
	{% endblocktrans %}
	</div>
{% else %}
	{% page_url "shop-cart" as shop_cart_url %}
	{% with button_content=instance.glossary.link_content instance_css_classes=instance.css_classes instance_inline_styles=instance.inline_styles %}
	<form name="reorder_form" djng-endpoint="{{ request.path_info }}">
		<button ng-click="do(create({reorder: true})).then(showOK()).then(delay(333)).then(redirectTo('{{ shop_cart_url }}')).finally(restore())" {% if instance_css_classes %} class="{{ instance_css_classes }}"{% endif %}{% if instance_inline_styles %} style="{{ instance_inline_styles }}"{% endif %}>
			{{ icon_left }}{{ button_content }}{{ icon_right }}
		</button>
	</form>
	{% endwith %}
{% endif %}
{% endspaceless %}
