{% load i18n static cms_tags sekizai_tags %}
{% addtoblock "js" %}<script src="{% static 'shop/js/cart-icon.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "shop-ng-requires" %}django.shop.cart_icon{% endaddtoblock %}

{% spaceless %}
<a href="{% page_url 'shop-cart' %}" title="{% page_attribute 'page_title' 'shop-cart' %}">
	<i class="fa fa-shopping-cart fa-fw fa-lg"></i>
	{% with count_items=cart.total_quantity %}
	<span shop-cart-count-items="{{ count_items }}" ng-cloak>{% verbatim %}{{ count_items }}{% endverbatim %} {% trans "Item" context "cart icon" %}</span>
	{% endwith %}
</a>
{% endspaceless %}
