@import "variables";

.navbar {
	.navbar-extra-top {
		min-height: $navbar-extra-top-height;
		border: 1px solid transparent;
		border-bottom-color: $navbar-default-border;
		.shop-brand {
			text-align: center;
		}
	}
	.expanded-nav {
		@media (max-width: $grid-float-breakpoint) {
			display: none;
		}
	}
	.collapsed-nav {
		@media (min-width: $grid-float-breakpoint) {
			display: none;
		}
	}
}

body {
	padding-top: $navbar-height + $navbar-extra-top-height + 2 * $padding-large-vertical;
}
