@import "variables";

.navbar {
	.navbar-extra-top {
		min-height: $navbar-extra-top-height;
		border: 1px solid transparent;
		border-bottom-color: $navbar-default-border;
		.shop-brand {
			text-align: center;
		}
		.brand-logo {
			margin-top: 7px;
		}
	}
	.expanded-nav {
		@media (max-width: $grid-float-breakpoint) {
			display: none;
		}
	}
	.collapsed-nav {
		@media (min-width: $grid-float-breakpoint) {
			display: none;
		}
	}
}

.navbar-form {
	&.shop-search-form {
		input.form-control {
			@media (min-width: $screen-lg-min) {
				width: 40em;
			}
			@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
				width: 28em;
			}
		}
		.input-group-addon {
			cursor: pointer;
		}
	}
}

.navbar-right {
	shop-auth-form {
		padding-bottom: 10px;
		min-width: 160px;
		display: block;
	}
}
.dropdown-menu > li > a {
	margin-left: 0;
}
.alert {
	padding: 5px 10px;
	line-height: 20px;
}

body {
	@media (max-width: $screen-sm-min) {
		padding-top: 290px;  // determined empirically
	}
	@media (min-width: $screen-sm-min) {
		padding-top: $navbar-height + $navbar-extra-top-height + 2 * $padding-large-vertical;
	}
}
