@import "default";

.product-detail .images {
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .10);
	border: 1px solid #efefef;
	margin-bottom: 15px;
	overflow-x: scroll;
	padding: 15px;
	white-space: nowrap;
	img {
		height: 250px;
	}
}
