{% load i18n %}

{% block print-order-body %}
	{% for item in data.items %}
<div class="shop-list-item row border-top py-2 dontsplit">
	<div class="col-1 align-items-center d-flex">
		<div>{{ item.quantity }}<span class="px-1">&times;</span></div>
	</div>
	<div class="col-5">
		{{ item.summary.media }}
	</div>
	<div class="col-6">
		<div class="row text-nowrap flex-nowrap lead text-right">
			<div class="col-6">{{ item.unit_price }}</div>
			<div class="col-6">{{ item.line_total }}</div>
		</div>
		{% for _, extra_row in item.extra.rows %}
		<div class="row text-muted text-nowrap flex-nowrap text-right">
			<div class="col-6">{{ extra_row.label }}</div>
			<div class="col-6">{{ extra_row.amount }}</div>
		</div>
		{% endfor %}
	</div>
</div>
	{% endfor %}
{% endblock print-order-body %}

{% block print-order-foot %}
<div class="row dontsplit">
	<div class="col-6 border-top offset-6">
		<div class="row py-2 lead">
			<div class="col-6 text-right text-nowrap">
				{% trans "Subtotal" %}
			</div>
			<div class="col-6 text-right text-nowrap">
				{{ data.subtotal }}
			</div>
		</div>
	{% for key, extra_row in data.extra.rows %}
		<div class="row py-2">
			<div class="col-6 text-right text-nowrap">{{ extra_row.label }}</div>
			<div class="col-6 text-right text-nowrap">{{ extra_row.amount }}</div>
		</div>
	{% endfor %}
		<div class="row py-2 shop-double-border lead font-weight-bold">
			<div class="col-6 text-right text-nowrap">{% trans "Total" %}</div>
			<div class="col-6 text-right text-nowrap">{{ data.total }}</div>
		</div>
	</div>
</div>
<div class="row dontsplit">
	<div class="col-12 mt-3">
		<p>{% trans "Shipping Method" %}: {{ data.active_shipping_method.label }}</p>
	</div>
</div>
{% endblock print-order-foot %}
