*.pyc
.project
.pydevproject
.settings
.tox/
.cache
*.coverage
*~
private_settings.py
build
docs/_build
docs/web_build
dist
*egg-info*
htmlcov
test-reports
bin/
include/
lib/
distribute*
share/
*.sqlite
database.db
*.swp
.DS_store
*coverage.xml
.idea
.ropeproject
OLD-out-of-date
.tox
node_modules/
workdir/
django-shop-workdir_*
