include AUTHORS.rst
include LICENSE
include CHANGELOG.rst
include README.rst
include runtests.sh
recursive-include docs *
recursive-include shop/locale *
recursive-include shop/templates *
recursive-include shop/media *
recursive-include tests *
