include LICENSE.txt
include README.md
include setup.py
include bower.json
recursive-include email_auth *.py
recursive-include shop *.py
recursive-include shop/static *
recursive-include shop/templates *
recursive-include shop/locale *
