asgiref==3.4.1
backports.zoneinfo==0.2.1
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.9
coreapi==2.3.3
coreschema==0.0.4
cssselect2==0.4.1
Django==3.2.10
django-filer==2.1.2
django-fsm==2.8.0
django-fsm-admin==1.2.4
django-ipware==4.0.2
django-js-asset==1.2.2
django-mptt==0.13.4
django-polymorphic==3.0.0
django-post-office==3.6.0
django-rest-auth==0.9.5
djangorestframework==3.13.1
drf-yasg==1.20.0
easy-thumbnails==2.8
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
jsonfield==3.1.0
lxml==4.7.1
MarkupSafe==2.0.1
packaging==21.3
Pillow==9.0.0
pyparsing==3.0.6
pytz==2021.3
reportlab==3.6.5
requests==2.26.0
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
six==1.16.0
sqlparse==0.4.2
svglib==1.1.0
tinycss2==1.1.1
Unidecode==1.1.2
uritemplate==4.1.1
urllib3==1.26.7
webencodings==0.5.1
