{% load static cms_tags sekizai_tags djng_tags i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="myShop">
<head>
	<title>{% block title %}django SHOP demo{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="{{ ROBOTS_META_TAGS }}" />
	<meta name="description" content="{% block meta-description %}{% endblock %}" />
	{% block head %}{% endblock head %}
	{% render_block "ext-css" %}
	{% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
</head>

{% addtoblock "js" %}<script src="{% static 'node_modules/picturefill/dist/picturefill.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular/angular.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-sanitize/angular-sanitize.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-i18n/angular-locale_de.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-animate/angular-animate.min.js' %}"></script>{% endaddtoblock %}

<body>
	{% cms_toolbar %}
	<header>
	{% block header %}{% endblock %}
	</header>

	<main>
	{% block breadcrumb %}{% endblock %}

	{% block main-content %}
		<div class="container">
			<div class="row shop-starter-template">
				<div class="col-xs-12">
					<h1>Base Template</h1>
					<p class="lead">This document does not contain any content yet.</p>
				</div>
			</div>
		</div>
	{% endblock main-content %}
	</main>

	<footer class="footer">
	{% block footer %}{% endblock footer %}
	</footer>

	{% render_block "ext-js" %}
	{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
	<script type="text/javascript">
	angular.module('myShop', ['ngAnimate', 'ngSanitize',
		{% render_block "ng-requires" postprocessor "djng.sekizai_processors.module_list" %}
	]).config(['$httpProvider', function($httpProvider) {
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
	}]).config(['$locationProvider', function($locationProvider) {
		$locationProvider.html5Mode(false);
	}]){% render_block "ng-config" postprocessor "djng.sekizai_processors.module_config" %};
	</script>
</body>

</html>
