{% extends "bootstrap/includes/ng-nav-navbar.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags sass_tags shop_tags %}

{% block navbar %}
	<div class="navbar-extra-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<a href="/">
						<img class="brand-logo" src="{% static 'shop/django-shop-logo.svg' %}" alt="django-SHOP" height="40" />
					</a>
				</div>
				<div class="col-xs-12 col-sm-9">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="tel:+12345678900"><i class="fa fa-phone"></i>&nbsp;+1-234-567-8900</a></li>
						<li><a href="mailto:info@example.com"><i class="fa fa-envelope-o"></i>&nbsp;info@example.com</a></li>
						{% with dropdown_extra_class="expanded-nav" %}
						{% language_chooser "shop/navbar/language-chooser.html" %}
						{% include "shop/navbar/login-logout.html" %}
						{% endwith %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{{ block.super }}
	<div class="container">
		<div class="form-group visible-xs">
			{% include "shop/navbar/search-form.html" with search_form_classes="shop-search-form navbar-form" %}
		</div>
	</div>

	{% addtoblock "css" %}<link href="{% sass_src 'myshop/css/navbar.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

	{% addtoblock "js" %}<script src="{% static 'node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>{% endaddtoblock %}
	{% addtoblock "ng-requires" %}ui.bootstrap{% endaddtoblock %}

	{% addtoblock "js" %}<script src="{% static 'myshop/js/navbar.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "ng-requires" %}myshop.navbar{% endaddtoblock %}

	{% addtoblock "js" %}<script src="{% static 'shop/js/utils.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{% static 'shop/js/search-form.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "ng-requires" %}django.shop.search{% endaddtoblock %}
{% endblock navbar %}

{% block navbar-nav %}
	{% page_url 'shop-watch-list' as shop_watch_url %}
	{{ block.super }}
	<ul class="nav navbar-nav navbar-right">
		{% with dropdown_extra_class="collapsed-nav" %}
		{% language_chooser "shop/navbar/language-chooser.html" %}
		{% include "shop/navbar/login-logout.html" %}
		{% endwith %}
		{% if shop_watch_url %}
		<li>
			<a href="{{ shop_watch_url }}" title="{% page_attribute 'page_title' 'shop-watch-list' %}">
				<i class="fa fa-heart fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li>{% cart_icon %}</li>
	</ul>
	{% include "shop/navbar/search-form.html" with search_form_classes="shop-search-form navbar-form navbar-right hidden-xs" %}
{% endblock %}
