{% extends "bootstrap/includes/ng-nav-navbar.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags sass_tags shop_tags bootstrap_tags %}

{% page_url 'shop-watch-list' as shop_watch_list_url %}{% if not shop_watch_list_url %}{% url "shop-watch-list" as shop_watch_list_url %}{% endif %}


{% block navbar %}
<div class="row w-100 no-gutters">
	<div class="col w-100 shadow-sm ">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-3 align-self-center ">
					<a class="navbar-brand" href="/">
						<img alt="django-SHOP" height="40" src="{% static 'shop/django-shop-logo.svg' %}"/>
					</a>
				</div>
				<div class="col-12 col-md-9 align-self-center">
					<ul class="nav navbar-nav w-100 justify-content-end p-2 bd-highlight ">
						<li class="nav-item">
							<a class="nav-link" href="tel:+12345678900 pw-2">
								<i class="fa fa-phone">
								</i>
								+1-234-567-8900
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="mailto:info@example.com">
								<i class="fa fa-envelope-o">
								</i>
								info@example.com
							</a>
						</li>
						{% with dropdown_extra_class="d-none d-md-block d-lg-block nav-link" %}
						{% language_chooser "shop/navbar/language-chooser.html" %}
						{% include "shop/navbar/login-logout.html" %}
						{% endwith %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="w-100">
	</div>
	<div class="col w-100 border">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 align-self-center text-right">
					{% block navbar-header %}
					{# with button element collapse dont work with js djng.forms #}
					<a aria-label="Toggle navigation" class="navbar-toggler m-2 btn" ng-click="isNavbarCollapsed = !isNavbarCollapsed" ng-init="isNavbarCollapsed = true">
						<span class="sr-only">
							{% trans "Toggle navigation" %}
						</span>
						<span class="navbar-toggler-icon">
						</span>
					</a>
					{% endblock %}
					<div class="navbar-collapse text-left" uib-collapse="isNavbarCollapsed">
						{% block navbar-nav %}
						{# blocl.super seem dont work here #}
						<ul class="navbar-nav">
							{% main_menu "bootstrap/menu/ng-navbar.html" %}
						</ul>

					</div>
				</div>
				<div class="col-12 col-md-8 align-self-center">
					   <ul class="nav navbar-nav justify-content-end">
					   						{% include "shop/navbar/search-form.html" with search_form_classes="shop-search-form navbar-form navbar-right d-none d-md-block" %}
						{% endblock %}
							{% with dropdown_extra_class="nav-item d-block  d-md-none" dropdown_toggle_extra_class="nav-link link"%}
							{% language_chooser "shop/navbar/language-chooser.html" %}
							{% include "shop/navbar/login-logout.html" %}
							{% endwith %}
							{% include "shop/navbar/watch-icon.html" %}
							<li class="nav-item"> {% cart_icon %}</li>
						</ul>

					<div class="form-group  d-block pt-2 pb-2 d-md-none">
						{% include "shop/navbar/search-form.html" with search_form_classes="shop-search-form navbar-form" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% if cms_version >= "3.5.0" and request.toolbar %}
<style>
@media (min-width: 768px) {

.fixed-top-md-up {  top: 46px !important;}
}
</style>
{% endif %}

	{% addtoblock "css" %}<link href="{% sass_src 'myshop/css/navbar.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

	{% addtoblock "js" %}<script src="{% static 'node_modules/ui-bootstrap4/dist/ui-bootstrap-tpls.min.js' %}"></script>{% endaddtoblock %}
	{% add_data "ng-requires" "ui.bootstrap" %}

	{% addtoblock "js" %}<script src="{% static 'myshop/js/navbar.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% add_data "ng-requires" "myshop.navbar" %}

{% endblock navbar %}

 




