{% extends "myshop/pages/default.html" %}
{% load i18n cms_tags %}

{% block title %}{% trans "Password Reset Confirm" %}{% endblock %}

{% block breadcrumb %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li class="active"><a href="{{ request.path }}">{% trans "Set Account Password" %}</a></li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}

{% block main-content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
	{% if validlink %}
		{% page_url 'shop-customer-details' as customer_details_url %}
		{% include "shop/auth/password-reset-confirm.html" with action=customer_details_url|default:'DO_NOTHING' form_name="password_reset_confirm" %}
	{% else %}
		{% include "shop/auth/password-reset-decline.html" %}
	{% endif %}
		</div>
	</div>
</div>
{% endblock main-content %}
