{% extends "myshop/pages/base.html" %}
{% load cascade_tags sekizai_tags sass_tags %}

{% block head %}
	{{ block.super }}
	{% addtoblock "css" %}<link href="{% sass_src 'myshop/css/default.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% endblock head %}

{% block header %}
	{% include "myshop/pages/navbar.html" with navbar_classes="navbar-default navbar-fixed-top" %}
{% endblock header %}

{% block main-content %}
	{% render_cascade "myshop/strides/home.json" %}
{% endblock main-content %}

{% block footer %}
	{% render_cascade "myshop/strides/footer.json" %}
{% endblock footer %}
