{% load i18n %}

{% block shop-cart-table %}
<table shop-cart class="table table-hover">
	<!-- content is rendered via ng-template "shop/cart.html" -->
</table>
{% endblock shop-cart-table %}

<script id="shop/cart.html" type="text/ng-template">
{% block shop-cart-thead %}
	<thead>
		<tr>
			<th class="col-xs-7">{% trans "Product" %}</th>
			<th class="col-xs-2 col-md-1 text-center">{% trans "Quantity" %}</th>
			<th class="col-xs-1 text-center">{% trans "Unit Price" %}</th>
			<th class="col-xs-1 col-md-2 text-right">{% trans "Total" %}</th>
			<th class="col-xs-1"></th>
		</tr>
	</thead>
{% endblock shop-cart-thead %}

{% block shop-cart-tbody %}
	<tbody>
		<tr shop-cart-item ng-repeat="cart_item in cart.items">
			<!-- content is rendered via ng-template "shop/cart-item.html" -->
		</tr>
	</tbody>
{% endblock shop-cart-tbody %}

{% block shop-cart-tfoot %}
	<tfoot>
		<tr>
			<td></td>
			<td colspan="2"><h5>{% trans "Subtotal" %}</h5></td>
			<td class="text-right text-nowrap"><h5><strong ng-bind="cart.subtotal"><!-- Subtotal --></strong></h5></td>
			<td></td>
		</tr>
		<tr ng-repeat="extra_row in cart.extra_rows">
			<td></td>
			<td colspan="2"><h5 ng-bind="extra_row.label"></h5></td>
			<td class="text-right text-nowrap"><h5><strong ng-bind="extra_row.amount"></strong></h5></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2"><h4>{% trans "Total" %}</h4></td>
			<td class="text-right text-nowrap"><h4><strong ng-bind="cart.total"><!-- Total --></strong></h4></td>
			<td></td>
		</tr>
	</tfoot>
{% endblock shop-cart-tfoot %}
</script>

<script id="shop/cart-item.html" type="text/ng-template">
{% block shop-cart-item %}
	<td>
		<div class="media">
			<div class="media-left" ng-bind-html="cart_item.summary.media"></div>
			<div class="media-body" ng-bind-html="cart_item.summary.body"></div>
		</div>
	</td>
	<td class="text-center">
		<input type="number" class="form-control" min="1" ng-model="cart_item.quantity" ng-mouseleave="updateCartItem(cart_item)" />
		<div ng-repeat="extra_row in cart_item.extra_rows" ng-bind="extra_row.label"></div>
	</td>
	<td class="text-right text-nowrap">
		<strong ng-bind="cart_item.summary.price"></strong>
		<div ng-repeat="extra_row in cart_item.extra_rows" ng-bind="extra_row.amount"></div>
	</td>
	<td class="text-right text-nowrap"><strong ng-bind="cart_item.line_total"></strong></td>
	<td>
		<button type="button" class="btn btn-sm btn-danger btn-block" ng-click="deleteCartItem(cart_item)">
			<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;{% trans "Remove" %}
		</button>
		<button type="button" class="btn btn-sm btn-info btn-block" ng-click="watchCartItem(cart_item)">
			<span class="glyphicon glyphicon-ok-circle"></span>&nbsp;{% trans "Watch Item" %}
		</button>
	</td>
{% endblock shop-cart-item %}
</script>
