{% load i18n static sekizai_tags %}

<ul class="list-group">
	<li class="list-group-item">{% trans "Number of items" %}:<strong class="pull-right" djng-bind-if="cart.num_items">{{ cart.num_items }}</strong></li>
	<li class="list-group-item">{% trans "Subtotal" %}:<strong class="pull-right" djng-bind-if="cart.subtotal">{{ cart.subtotal }}</strong></li>
{% for extra_row in cart.extra_rows %}
	<li class="list-group-item" ng-if="!cart">
	{% include 'shop/cart/extra-listitem.html' with ng=0 %}
	</li>
{% endfor %}
	<li class="list-group-item" ng-cloak ng-if="cart" ng-repeat="extra_row in cart.extra_rows">
	{% include 'shop/cart/extra-listitem.html' with ng=1 %}
	</li>
	<li class="list-group-item list-group-item-secondary"><strong>{% trans "Total" %}:</strong><strong class="pull-right" djng-bind-if="cart.total">{{ cart.total }}</strong></li>
</ul>
