@import "variables";

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: $body-footer-height;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $body-footer-height;
	color: $body-footer-color;
	background: $body-footer-bg;
	padding-top: 20px;
	padding-bottom: 20px;
	a {
		color: $body-footer-link-color;
		text-decoration: none;
		&:hover {
			color: $body-footer-link-hover-color;
			text-decoration: underline;
		}
		&:active {
			color: $body-footer-link-active-color;
		}
	}
}
