@import "shop/css/variables";

// footer
$body-footer-height: 80px;
$body-footer-color: $navbar-inverse-color;
$body-footer-bg: $navbar-inverse-bg;
$body-footer-border: $navbar-inverse-border;

$body-footer-link-color: $navbar-inverse-link-color;
$body-footer-link-hover-color: $navbar-inverse-link-hover-color;
$body-footer-link-hover-bg: $navbar-inverse-link-hover-bg;
$body-footer-link-active-color: $navbar-inverse-link-active-color;
$body-footer-link-active-bg: $navbar-inverse-link-active-bg;
$body-footer-link-disabled-color: $navbar-inverse-link-disabled-color;
$body-footer-link-disabled-bg: $navbar-inverse-link-disabled-bg;
