@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints.scss";
@import "shop/css/variables";

// footer
$body-footer-height: 200px;
$body-footer-color: $yiq-text-light;
$body-footer-bg: $dark;
//$body-footer-border: $navbar-inverse-border;

$body-footer-link-color: $white;
$body-footer-link-hover-color: darken($body-footer-link-color, 15%) !default;

$body-footer-link-hover-bg: $blue;
$body-footer-link-active-color: $cyan;
$body-footer-link-active-bg: $dark;
$body-footer-link-disabled-color: $nav-link-disabled-color;
$body-footer-link-disabled-bg: $nav-tabs-link-active-bg;
