@import "variables";

.navbar {
	.navbar-extra-top {
		min-height: $navbar-extra-top-height;
		border-top: 1px solid transparent;
		border-bottom: 1px solid $navbar-default-border;
		background-image: linear-gradient(to bottom, #fff 0, $navbar-default-bg 100%);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
		.shop-brand {
			text-align: center;
		}
		.brand-logo {
			margin-top: 7px;
		}
	}
	.expanded-nav {
		@media (max-width: $grid-float-breakpoint) {
			display: none;
		}
	}
	.collapsed-nav {
		@media (min-width: $grid-float-breakpoint) {
			display: none;
		}
	}
}

.navbar-form {
	&.shop-search-form {
		input.form-control {
			@media (min-width: $screen-lg-min) {
				width: 40em;
			}
			@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
				width: 28em;
			}
		}
		.input-group-addon {
			cursor: pointer;
		}
	}
}

.navbar-right {
	shop-auth-form {
		padding-bottom: 10px;
		min-width: 160px;
		display: block;
	}
}
.dropdown-menu > li > a {
	margin-left: 0;
}
.alert {
	padding: 5px 10px;
	line-height: 20px;
}

body {
	@media (max-width: $screen-sm-min) {
		padding-top: 290px;  // determined empirically
	}
	@media (min-width: $screen-sm-min) {
		padding-top: $navbar-height + $navbar-extra-top-height + 3;
	}
}
