@import "variables";


@include media-breakpoint-up(md) {
		.navbar-collapse {
		min-height:3rem !important;
		}
		.shop-dropdown-forms  {
		width: 20em;
		left:-10em;
		}
		body { padding-top:100px; };
		.fixed-top-md-up{
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
		}
}

.navbar-form {
	&.shop-search-form {
		input.form-control {
//			@media (min-width: $screen-lg-min) {
//				width: 40em;
//			}
//			@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
//				width: 28em;
//			}
//		}
		.input-group-addon {
			cursor: pointer;
		}
	}
}

.navbar-right {
	shop-auth-form {
		padding-bottom: 10px;
		min-width: 160px;
		display: block;
	}
}
.dropdown-menu > li > a {
	margin-left: 0;
}
.alert {
	padding: 5px 10px;
	line-height: 20px;
}
}

.menubar {
.navbar-nav:first-child {
width: 100%;
}
}
