{% extends "shop/dashboard/main.html" %}

{% block httpProviderAAA %}
	$httpProvider.interceptors.push(function() {
		return {
			request: function(config) {
	debugger;
				config.url = config.url.replace(/^(\/[^/]+\/profile\/).+$/, '$1');
				return config;
			},
		};
	});
{% endblock httpProviderAAA %}

{% block NgAdminConfigurationProvider %}
(function() {
	var entity = nga.entity("profile");

	entity.editionView().fields([
		nga.field('salutation'),
		nga.field('number')
	]);

	admin.addEntity(entity);

	admin.menu().addChild(nga.menu()
		.title('My Profile')
		.link('/profile/edit/')
		//.active(path => path.indexOf('/profile') === 0)
	);
})();
{% endblock NgAdminConfigurationProvider %}
