{% extends "shop/checkout/dialog-base.html" %}
{% load i18n sass_tags sekizai_tags shop_tags %}

{% block extra-styles %}
	{{ block.super }}
	{% addtoblock "css" %}<link href="{% sass_src 'shop/css/address.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% endblock %}

{% block dialog_form %}
<form shop-dialog-form='billing_address_form.form_entities={{ billing_address_form.form_entities|rest_json }};' name="{{ billing_address_form.form_name }}" novalidate>
	{% if billing_address_form.allow_use_primary %}
	<div class="has-feedback form-group">
		{{ billing_address_form.use_primary_address }}
	</div>
	{% endif %}
	<fieldset{% if billing_address_form.allow_use_primary %} shop-form-validate="!data.billing_address.use_primary_address" ng-hide="data.billing_address.use_primary_address" class="animate-show" ng-cloak{% endif %}>
	{% if headline_legend %}
	<legend>{{ billing_address_form.legend }}</legend>
	{% endif %}
	{% if billing_address_form.multi_addr %}
		<div class="form-group" ng-if="billing_address_form.form_entities.length>0 && data.billing_address.active_priority!='add'">
			<label class="control-label">{% trans "Choose a previously used billing address" %}</label>
			<select class="form-control input-sm" name="active_priority" ng-change="switchEntity(billing_address_form)" ng-model="data.billing_address.active_priority">
				{% verbatim %}
				<option ng-repeat="addr in billing_address_form.form_entities" value="{{ addr.value }}">{{ addr.label }}</option>
				{% endverbatim %}
				<option value="new">{% trans "Add another billing address" %}</option>
			</select>
		</div>
		<div class="form-group" ng-if="data.billing_address.active_priority=='add'">
			<h4 class="control-label">{% trans "Add a new billing address" %}</h4>
		</div>
	{% endif %}
		{{ billing_address_form.as_div }}
	{% if billing_address_form.multi_addr %}
		<div class="form-group" ng-if="billing_address_form.form_entities.length>1 || billing_address_form.form_entities.length>0 && data.billing_address.active_priority=='add'">
			<button class="btn btn-danger btn-xs" ng-click="removeEntity(billing_address_form, 'billing_address')">
				<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;{% trans "Remove this address" %}
			</button>
		</div>
	{% endif %}
	</fieldset>
</form>
{% endblock %}
