{% load static sekizai_tags %}{% spaceless %}

{% addtoblock "js" %}<script src="{% static 'shop/js/dialogs.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "shop-ng-requires" %}django.shop.dialogs{% endaddtoblock %}

<form name="{{ billing_address_form.form_name }}" novalidate>
	<div class="has-feedback form-group">
	{{ billing_address_form.use_shipping_address }}
	</div>
	<div shop-form-validate="!data.billing_address.use_shipping_address" ng-hide="data.billing_address.use_shipping_address" class="animate-show" ng-cloak>
		{{ billing_address_form.as_div }}
	</div>
</form>

{% endspaceless %}