{% extends "shop/checkout/dialog-base.html" %}
{% load i18n static sass_tags sekizai_tags %}

{% block extra-styles %}
	{{ block.super }}
	{% addtoblock "css" %}<link href="{% sass_src 'shop/css/method-form.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% endblock %}

{% block extra-scripts %}
	{{ block.super }}
	{% addtoblock "js" %}<script src="{% static 'shop/js/method-form.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% add_data "ng-requires" "django.shop.method-form" %}
{% endblock %}

{% block dialog_form %}
<form shop-method-form djng-endpoint="{% url 'shop:checkout-upload' %}" name="{{ shipping_method_form.form_name }}" class="mt-3" novalidate>
{% if shipping_method_form.has_choices %}
	{{ shipping_method_form.as_div }}
	{% if show_additional_charge %}
	<ul class="additional-charge">
		{% for choice, label in shipping_method_form.shipping_modifier.field.choices %}
		<li ng-repeat="extra_row in cart.extra_rows|filter:{modifier:'{{ choice }}'}">{% trans "Additional charge: {{ extra_row.amount }}" context "checkout" %}</li>
		{% endfor %}
		{% if shipping_modifiers.initial_row %}
		<li ng-if="!cart.extra_rows">{% blocktrans with amount=shipping_modifiers.initial_row.amount context "checkout" %}Additional charge: {{ amount }}{% endblocktrans %}</li>
		{% endif %}
	</ul>
	{% endif %}
{% else %}
	<input name="__force_invalidation__" style="display: none;" required />
	<p class="bg-danger">{% trans "No shipping method available" context "checkout" %}</p>
{% endif %}
</form>
	{% block shipping-provider-form %}{% endblock %}
{% endblock %}
