{% extends "shop/checkout/dialog-base.html" %}
{% load i18n static sekizai_tags %}

{% block extra-scripts %}
	{{ block.super }}
	{% addtoblock "js" %}<script src="{% static 'shop/js/method-form.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% add_data "ng-requires" "django.shop.method-form" %}
{% endblock %}

{% block dialog_form %}
<form djng-endpoint="{% url 'shop:checkout-upload' %}" name="{{ shipping_method_form.form_name }}" novalidate>
	{% if shipping_method_form.has_choices %}
	{{ shipping_method_form.as_div }}
	{% else %}
	<input name="__force_invalidation__" style="display: none;" required />
	<p class="bg-danger">{% trans "No shipping method available" %}</p>
	{% endif %}
</form>
	{% block shipping-provider-form %}{% endblock %}
{% endblock %}
