{% extends "shop/catalog/product-add2cart.html" %}
{% load i18n %}

{% block add-product-to-cart-table %}
<table shop-add-to-cart="{{ product.get_absolute_url }}/add-to-cart" class="table">
	<thead>
		<tr>
			<th>{% trans "Unit Price" %}</th>
			<th>{% trans "Subtotal" %}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td ng-bind="context.unit_price"></td>
			<td ng-bind="context.subtotal"></td>
		</tr>
		<tr>
			<td class="vertical-align-middle">
			{% if shop_watch_list_url %}
				<button class="btn btn-info btn-block btn-xs" ng-click="addToCart('{% url 'shop:watch-list' %}', {watch: true})">{% trans "Watch product" %}</button>
			{% endif %}
			</td>
			<td>
				<button class="btn btn-primary btn-block" ng-click="addToCart('{% url 'shop:cart-list' %}')">{% trans "Add to cart" %}</button>
			</td>
		</tr>
	</tbody>
</table>
{% endblock add-product-to-cart-table %}
