{% extends "shop/catalog/product-add2cart.html" %}
{% load i18n %}

{% block add-product-to-cart-table %}
	{% for smartphone in product.smartphone_set.all %}
<table shop-add-to-cart="{% url 'add-smartphone-to-cart' smartphone.product_code %}" class="table">
	<caption>{% trans "Internal Storage" %} {{ smartphone.storage }} MB</caption>
	<thead>
		<tr><th>{% trans "Quantity" %}</th><th>{% trans "Unit Price" %}</th><th>{% trans "Subtotal" %}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="form-inline">
				<div class="form-group">
					<input class="form-control" type="number" min="1" ng-model="context.quantity" ng-model-options="{{ ng_model_options }}" ng-change="updateContext()" />
				</div>
			</td>
			<td ng-bind="context.unit_price"></td>
			<td ng-bind="context.subtotal"></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button class="btn btn-info btn-block btn-xs" ng-click="addToCart('{% url 'shop:watch-list' %}', {watch: true})">{% trans "Watch product" %}</button>
			</td>
			<td>
				<button class="btn btn-primary btn-block" ng-click="addToCart('{% url 'shop:cart-list' %}')">{% trans "Add to cart" %}</button>
			</td>
		</tr>
	</tbody>
</table>
	{% endfor %}
{% endblock add-product-to-cart-table %}
