{# This template is shared between Django and AngularJS #}
{% load djng_tags i18n %}
{% angularjs ng %}
<figure class="shop-list-item col-xs-4 col-sm-3 col-lg-2"{% if ng %} ng-repeat="product in catalog.products"{% endif %}>
	<a href="{{ product.product_url }}">
		<h4>{{ product.product_name }}</h4>
		<div{% if ng %} ng-bind-html="product.media"{% endif %}>{{ product.media }}</div>
	</a>
	<figcaption>
		<strong>{% trans "Price" %}: {{ product.price }}</strong>
	</figcaption>
</figure>
{% endangularjs %}