{% extends "myshop/pages/default.html" %}
{% load sekizai_tags sass_tags %}

{% block title %}{{ product.product_name }}{% endblock %}

{% block head %}
	{{ block.super }}
	{% addtoblock "css" %}<link href="{% sass_src 'pages/css/product-detail.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% endblock head %}

{% block breadcrumb %}{% with extra_ance=product.product_name %}
	{% include "bootstrap/includes/breadcrumb-row.html" with breadcrumb_classes="breadcrumb" %}
{% endwith %}{% endblock %}
