{% extends "myshop/pages/default.html" %}
{% load static i18n sekizai_tags sass_tags %}

{% block head %}
	{{ block.super }}
	{% addtoblock "css" %}<link href="{% sass_src 'pages/css/product-detail.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% endblock head %}

{% block breadcrumb %}{% with extra_ance=product.product_name %}
	{{ block.super }}
{% endwith %}{% endblock %}

{% block main-content %}
<div class="row product-detail">
	<div class="col-xs-12 col-md-8">
		<h1>{{ product.product_name }}</h1>
		<pre class="images jfk-scrollbar">
		{% for img in product.images.all %}
			<img src="{{ img.url }}" alt="{{ product.product_name }}">
		{% endfor %}
		</pre>
	</div>
	<div class="col-xs-6">
		{{ product.description|safe }}
		<table class="table table-bordered">
			<tbody class="table-striped">
				<tr>
					<td>{% trans "Card Type" %}</td>
					<td>{{ product.get_card_type_display }}</td>
				</tr>
				<tr>
					<td>{% trans "Storage capacity" %}</td>
					<td>{{ product.storage }} GB</td>
				</tr>
				<tr>
					<td>{% trans "Manufacturer" %}</td>
					<td>{{ product.manufacturer }}</td>
				</tr>
			</tbody>
		</table>
		<!-- include "Add to Cart" dialog box -->
		{% include "shop/catalog/product-add2cart.html" %}
	</div>
</div>
{% endblock main-content %}
