{% extends "myshop/catalog/product-detail.html" %}
{% load i18n static cms_tags sekizai_tags sass_tags %}

{% block main-content %}

{% addtoblock "css" %}<link href="{% sass_src 'node_modules/angular-bootstrap-plus/src/scrollpanel/scrollpanel.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-bootstrap-plus/src/scrollpanel/scrollpanel.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "ng-requires" %}bs-plus.scrollpanel{% endaddtoblock %}

<div class="container">
	<div class="row product-detail">
		<div class="col-xs-12 col-md-8">
			<h1>{% render_model product "product_name" %}</h1>
			<bsp-scrollpanel>
				<ul>{% for img in product.images.all %}
					<li><img src="{{ img.url }}" alt="{{ product.product_name }}" /></li>
				{% endfor %}</ul>
			</bsp-scrollpanel>
		</div>
		<div class="col-xs-12 col-md-8">
			{{ product.description|safe }}
			<table class="table table-bordered">
				<tbody class="table-striped">
					<tr>
						<td>{% trans "Battery" %}</td>
						<td>{{ product.get_battery_type_display }} ({{ product.battery_capacity }} mAh)</td>
					</tr>
					<tr>
						<td>{% trans "RAM Storage" %}</td>
						<td>{{ product.ram_storage }} MB</td>
					</tr>
					<tr>
						<td>{% trans "WiFi Connectivity" %}</td>
						<td>{{ product.wifi_connectivity }} MB</td>
					</tr>
					<tr>
						<td>{% trans "Bluetooth Connectivity" %}</td>
						<td>{{ product.wifi_connectivity }} MB</td>
					</tr>
					<tr>
						<td>{% trans "GPS" %}</td>
						<td>{{ product.wifi_connectivity }} MB</td>
					</tr>
					<tr>
						<td>{% trans "Dimensions" %}</td>
						<td>{{ product.width }} mm (w) &times; {{ product.height }} mm (h)</td>
					</tr>
					<tr>
						<td>{% trans "Weight" %}</td>
						<td>{{ product.weight }} g</td>
					</tr>
					<tr>
						<td>{% trans "Screen size" %}</td>
						<td>{{ product.screen_size }} ({% trans "inch" %})</td>
					</tr>
				</tbody>
			</table>
			<!-- include "Add to Cart" dialog box -->
			{% include "myshop/catalog/smartphone-add2cart.html" %}
		</div>
	</div>
</div>

{% addtoblock "js" %}<script id="scrollpanel/bsp-scrollpanel.tmpl.html" type="text/ng-template">
	<panel-control class="left ">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</panel-control>
	<ng-transclude></ng-transclude>
	<panel-control class="right">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</panel-control>
</script>{% endaddtoblock %}

{% endblock main-content %}
