{% extends "myshop/catalog/product-detail.html" %}
{% load i18n cms_tags thumbnail %}

{% block main-content %}
<div class="container">
	<div class="row product-detail">
		<div class="col-xs-12 col-md-8">
			<h1>{% render_model product "product_name" %}</h1>
			<pre class="images">
			{% for img in product.images.all %}
				{% thumbnail img 250x250 crop as thumb %}
				<img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ product.product_name }}">
			{% endfor %}
			</pre>
		</div>
		<div class="col-xs-12 col-md-8">
			{{ product.description|safe }}
			<table class="table table-bordered">
				<tbody class="table-striped">
					<tr>
						<td>{% trans "Card Type" %}</td>
						<td>{{ product.get_card_type_display }}</td>
					</tr>
					<tr>
						<td>{% trans "Storage capacity" %}</td>
						<td>{{ product.storage }} GB</td>
					</tr>
					<tr>
						<td>{% trans "Manufacturer" %}</td>
						<td>{{ product.manufacturer }}</td>
					</tr>
				</tbody>
			</table>
			<!-- include "Add to Cart" dialog box -->
			{% include "shop/catalog/product-add2cart.html" %}
		</div>
	</div>
</div>
{% endblock main-content %}
