{% load i18n static sass_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="djangoShopDashboard">
<head>
	<title>django-SHOP Dashboard</title>
	<meta charset="utf-8">
	{% block head %}{% endblock head %}
	<link href="{% sass_src 'shop/css/dashboard.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
	{% include "shop/dashboard/navbar.html" %}
	</header>

	<div class="container">
	{% block breadcrumbs %}
		<ul class="breadcrumb">
		{% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
			{% if forloop.last %}
			<li class="active">{{ breadcrumb_name }}</li>
			{% else %}
			<li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endblock %}
	</div>

	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</main>

	<script src="{% static 'node_modules/angular/angular.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'node_modules/angular-i18n/angular-locale_de.js' %}"></script>
	{% render_block "js" %}
	<script type="text/javascript">
	angular.module('djangoShopDashboard', [
		{% render_block "ng-requires" postprocessor "djng.sekizai_processors.module_list" %}
	]).config(['$httpProvider', '$locationProvider',
		function($httpProvider, $locationProvider) {
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		$locationProvider.html5Mode({
			enabled: true,
			requireBase: false,
			rewriteLinks: false
		});
	}]){% render_block "ng-config" postprocessor "djng.sekizai_processors.module_config" %};
	</script>
	<script src="{% static 'shop/js/dashboard.js' %}" type="text/javascript"></script>

</body>

</html>
