{% extends "shop/dashboard/default.html" %}
{% load static sekizai_tags dashboard_tags %}

{% block head %}
	{% addtoblock "js" %}<script src="{% static 'node_modules/angular-inview/angular-inview.js' %}"></script>{% endaddtoblock %}
	{% addtoblock "ng-requires" %}angular-inview{% endaddtoblock %}
{% endblock %}

{% block content %}
<table shop-dashboard-list="{{ request.path_info }}" class="table table-striped table-hover">
	<caption>{{ model_options.verbose_name_plural }}<select><option></option></select></caption>
	<thead>
		<tr>{% spaceless %}
		{% for field in list_display_fields.values %}
			<th>{{ field.label }}</th>
		{% endfor %}
		</tr>{% endspaceless %}
	</thead>
	<tbody>
		{% url 'dashboard:product-change' pk=':PK:' as detail_url %}
		<tr ng-repeat="entry in results">{% spaceless %}
		{% for key in list_display_fields.keys %}
			{% if key in list_display_links %}
			<td>
				<a ng-href="{{ detail_url|mustaches:":PK:entry.pk" }}" ng-bind-html="entry.{{ key }}"></a>
			</td>
			{% else %}
			<td ng-bind-html="entry.{{ key }}"></td>
			{% endif %}
		{% endfor %}
		</tr>{% endspaceless %}
	</tbody>
	<tfoot>
		<tr>{% spaceless %}
			<td colspan="{{ list_display_fields|length }}" class="text-center" in-view="$inview && loadMore()"><i ng-if="isLoading" class="glyphicon glyphicon-refresh glyphicon-spin"></i></td>
		</tr>{% endspaceless %}
	</tfoot>
</table>

{% endblock %}
