{% extends "shop/dashboard/default.html" %}

{% block content %}
<table class="table table-striped">
	<caption>{{ model_options.verbose_name }}</caption>
	<thead>
		<tr>{% for field in list_display_fields.values %}
			<th>{{ field.label }}</th>
		{% endfor %}</tr>
	</thead>
	<tbody>
	{% for product in results %}
		<tr>{% for key, value in product.items %}
			{% if key in list_display_fields.keys %}
			<td>{% if key in list_display_links %}<a href="{% url 'dashboard:product-detail' product.pk %}">{% endif %}{{ value }}{% if key in list_display_links %}</a>{% endif %}</td>
			{% endif %}
		{% endfor %}</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
