@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

.breadcrumb {
	margin-top: 20px;

	>li + li::before {
		// fixes https://github.com/twbs/bootstrap-sass/issues/919
		content: "/";
	}
}

// use it to remove borders in tables
table tr {
	&.no-border {
		td, th {
			border-top-style: hidden;
		}
	}
	&.double-border {
		border-top-style: double;
	}
	td.no-border, th.no-border {
		border-top-style: hidden;
	}
	td.double-border, th.double-border {
		border-top-style: double;
	}
	td.vertical-align-middle {
		vertical-align: middle;
	}
}

[ng-cloak], .ng-cloak {
	display: none !important;
}

.animate-show {
	opacity: 1;
	&.ng-hide-add.ng-hide-add-active, &.ng-hide-remove.ng-hide-remove-active {
		-webkit-transition: all linear 0.2s;
		transition: all linear 0.2s;
	}
	&.ng-hide {
		opacity: 0;
		-webkit-transition: all linear 0.2s;
		transition: all linear 0.2s;
	}
}
