.navbar-nav {
	form[shop-product-search] {
		input {
			width: 25rem;
		}
	}
}

// if Django-CMS toolbar is expanded, move fixed navbar below
html.cms-toolbar-expanded {
	.navbar-fixed-top, .fixed-top {
		top: 46px;
	}
	.modal-dialog {
		margin-top: 3.5rem;
	}
}
