
figure {
	border-width: $border-width;
	border-color: $border-color;
	border-style: solid;
	border-radius: $border-radius;
	padding: $spacer $spacer 0;
	width: 200px;
	height: 100%;
	a:hover, a:active {
		text-decoration: none;
	}
}
