
/* Adopt form layout for default address model
 * Extend templates billing-address-form.html and shipping-address-form.html and change content
 * of block extra-styles to change these values.
 */

.shop-address-street_name {
	width: 65%;
	display: inline-block;
}

.shop-address-street_number {
	width: 35%;
	display: inline-block;
	margin-left: -4px;
	padding-left: 15px;
}

.shop-address-zip_code {
	width: 35%;
	display: inline-block;
}

.shop-address-city {
	width: 65%;
	display: inline-block;
	margin-left: -4px;
	padding-left: 15px;
}
