@import "variables";

.shop-list-item {
	border-color: $shop-border-color;
	&:hover {
		background-color: $shop-item-hover-bg;
	}
}

.shop-double-border {
	border-top-width: 3px;
	border-top-style: double;
	border-top-color: $shop-border-color;
}
