// add useful styling for Bootstrap-4 table class
.table {
	tr {
		&.no-border {
			td, th {
				border-top-style: hidden;
			}
		}
		&.double-border {
			border-top-style: double;
		}
		td.no-border, th.no-border {
			border-top-style: hidden;
		}
		td.double-border, th.double-border {
			border-top-style: double;
		}
		td.vertical-align-middle {
			vertical-align: middle;
		}
	}
}
