{% load static cms_tags sekizai_tags %}

{% addtoblock "css" %}<link href="{% static 'shop/css/btn-breadcrumb.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

<shop-booklet-wrapper>
{% with instance_inline_styles=instance.inline_styles %}
	<div class="{{ instance.css_classes }}"{% if instance_inline_styles %} style="{{ instance_inline_styles }}"{% endif %} ng-cloak>
	{% for child in instance.child_plugin_instances %}
		<a ng-class="breadcrumbClass({{ forloop.counter0 }})" ng-click="breadcrumbClick({{ forloop.counter0 }})">{{ child.glossary.page_title|default:"&nbsp;" }}</a>
	{% endfor %}
	</div>

	{% for child in instance.child_plugin_instances %}{% with css_classes=child.css_classes inline_styles=child.inline_styles %}
	<shop-booklet-page pagenum="{{ forloop.counter0 }}"{% if css_classes %} class="{{ css_classes }}"{% endif %}{% if inline_styles %} style="{{ inline_styles }}"{% endif %} ng-cloak>
		{% render_plugin child %}
	</shop-booklet-page>
	{% endwith %}{% endfor %}
{% endwith %}
</shop-booklet-wrapper>