{% load static cms_tags sekizai_tags %}

{% addtoblock "css" %}<link href="{% static 'shop/css/btn-breadcrumb.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

{% with instance_inline_styles=instance.inline_styles %}
<div class="{{ instance.css_classes }}"{% if instance_inline_styles %} style="{{ instance_inline_styles }}"{% endif %}>
	{% for child in instance.child_plugin_instances %}
	<shop-dialog-booklet-button slug="{{ child.slug }}">
		{{ child.glossary.page_title|default:"&nbsp;" }}
	</shop-dialog-booklet-button>
	{% endfor %}
</div>

	{% for child in instance.child_plugin_instances %}{% with css_classes=child.css_classes inline_styles=child.inline_styles %}
<shop-dialog-booklet-page slug="{{ child.slug }}"{% if css_classes %} class="{{ css_classes }}"{% endif %}{% if inline_styles %} style="{{ inline_styles }}"{% endif %}>
		{% render_plugin child %}
</shop-dialog-booklet-page>
	{% endwith %}{% endfor %}
{% endwith %}
