<shop-cart></shop-cart>

{% verbatim %}
<script id="template/shop/cart.html" type="text/ng-template">
<div>
	<div ng-repeat="item in cart.items"><p>{{ item.details.product_code }}</p></div>
</div>
</script>

<script id="template/shop/cart-bak.html" type="text/ng-template">
<div>
	<shop-cart-item ng-repeat="item in cart.items" ng-style="item.style" ng-include src="item.template_url">
	</shop-cart-item>
</div>
</script>

<script id="template/shop/cart-item.html" type="text/ng-template">
	<h1>A cart item</h1>
	<p>{{ item.details.product_code }}</p>
</script>
{% endverbatim %}
