{% if cart %}
    <h1>Your shopping cart</h1>
    
    <table border="1">
    <tr>
    <th>Product name</th>
    <th>Unit price</th>
    <th>Quantity</th>
    <th>&nbsp;</th>
    </tr>
    
    {% for item in cart_items %}
    <tr>
    <td>{{item.product.name}}</td>    
    <td>{{item.product.unit_price}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.line_subtotal}}</td>
    </tr>
    {% for label, value in item.extra_price_fields.iteritems %}
    <tr>
    <td colspan="2">&nbsp;</td>
    <td>{{label}}</td>
    <td>{{value}}</td>
    </tr>
    {% endfor %}
    <tr><td colspan="2">&nbsp;</td><td>Line Total:</td><td>{{item.line_total}}</td></tr>
    {% endfor %}
    <tr><td colspan="2">&nbsp;</td><td>Cart Subtotal</td><td>{{cart.subtotal_price}}</td></tr>
    <tr><td colspan="2">&nbsp;</td><td><b>Cart Total</b></td><td><b>{{cart.total_price}}</b></td></tr>
    </table>
    
    
{% else %}
There is no cart attached to your session
{% endif %}