{% extends "./anonymous-base.html" %}
{% load i18n %}

{% block form-title %}{% trans "Sign In" %}{% endblock %}

{% block form-content %}
<form name="{{ form_name }}" djng-endpoint="{% url 'shop:login' %}" role="form" novalidate>
	{% include "./form-messages.html" %}

	<div class="form-group has-feedback" style="margin-bottom: 10px">
		<label class="control-label">{% trans "Your e-mail address" %}</label>
		<div class="input-group" ng-class="hasError('username')">
			<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
			<input class="form-control" name="username" ng-model="form_data.username" value="" ng-required="true" placeholder="{% trans 'Email or Username' %}" />
		</div>
		<ul ng-show="{{ form_name }}.username.$dirty && {{ form_name }}.username.$touched" class="djng-field-errors" ng-cloak>
			<li ng-show="{{ form_name }}.username.$error.required" class="invalid">{% trans "This field is required." %}</li>
		</ul>
	</div>

	<div class="form-group has-feedback" style="margin-bottom: 20px">
		<label class="control-label">{% trans "Password" %}</label>
		<div class="input-group" ng-class="hasError('password')">
			<span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
			<input type="password" class="form-control" name="password" ng-model="form_data.password" ng-required="true" placeholder="{% trans 'Password' %}" />
		</div>
	</div>

	<div class="form-group">
		<button type="button" ng-click="{% include "./proceed-with.html" %}" ng-disabled="isDisabled()" class="btn btn-primary">
			{% trans "Login" %}&emsp;<i class="glyphicon glyphicon-log-in"></i>
		</button>
	</div>
</form>
{% endblock form-content %}
