{% load i18n cms_tags %}
<div class="panel panel-danger">
	<div class="panel-heading">
		<div class="panel-title">{% trans "Password can not be reset" %}</div>
	</div>
	<div class="panel-body">
	{% page_url 'shop-password-reset' as password_reset_url %}
		<p>{% trans "The password reset link is invalid, possibly because it has already been used." %}</p>
		<p>{% if password_reset_url %}<a href="{{ password_reset_url }}">{% endif %}{% trans "Please request a new password reset." %}{% if password_reset_url %}</a>{% endif %}</p>
	</div>
</div>
