{% extends "shop/auth/anonymous-base.html" %}
{% load i18n %}

{% block form_title %}{% trans "Register Yourself" %}{% endblock %}

{% block form_content %}
{{ block.super }}
{{ register_user_form.email.label_tag }}
<div style="margin-bottom: 10px" class="input-group">
	<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
	{{ register_user_form.email }}
</div>

<div class="input-group">
	{{ register_user_form.preset_password }}
	<span class="help-block">{{ register_user_form.preset_password.help_text }}</span>
</div>

<div shop-form-validate="!form_data.preset_password" ng-hide="form_data.preset_password">
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
		{{ register_user_form.password1 }}
	</div>
	<span class="help-block">{{ register_user_form.password1.help_text }}</span>

	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
		{{ register_user_form.password2 }}
	</div>
	<span class="help-block">{{ register_user_form.password2.help_text }}</span>
</div>

<div class="form-group">
	<button type="button" ng-click="submitForm('{% url 'shop:register-user' %}', 5000)" class="btn btn-primary">{% trans "Register" %}</button>
</div>
{% endblock form_content %}