{% load i18n static html_email %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Password Reset</title>
	<style type="text/css">
	</style>
</head>
<body style="margin:0; padding:0; text-align: center;">
	<table width="600" border="0" cellpadding="0" cellspacing="0" style="padding: 15px; background-color: #f0f0f0;">
		<tr>
			<td>{% block header %}{% endblock %}</td>
		</tr>
		<tr>
			<td align="left" valign="top">
				<h3>Password Reset</h3>
				<p>You're receiving this e-mail because you or someone else has requested a password reset
					for your user account '{{ user }}' at {{ site_name }}. It can be safely ignored if you did not
					request a password reset.</p>
				<p>Please <a href="{{ protocol }}://{{ domain }}{{ password_reset_confirm_url }}{{ uid }}/{{ token }}">
					reset your password here</a>.</p>
				<p>Sincerely,<br/>{{ site_name }}</p>
			</td>
		</tr>
		<tr>
			<td>{% block footer %}{% endblock %}</td>
		</tr>
	</table>
</body>
</html>
