{% load thumbnail %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title></title>

	<style type="text/css">
	</style>
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
<center>
	<table width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
		<tr>
			<td>
				{% thumbnail 'shop/email/django-shop-logo.png' 100x100 as logo %}
				<img src="{{ logo|data_uri }}" width="100">
			</td>
		</tr>
		<tr>
			<td align="left" valign="top">
				<h3>Password Reset</h3>
				<p>You're receiving this e-mail because you or someone else has requested a password reset
					for your user account '{{ user }}' at {{ site_name }}. It can be safely ignored if you did not
					request a password reset.</p>
				<p>Please <a href="{{ protocol }}://{{ domain }}{{ password_reset_confirm_url }}{{ uid }}/{{ token }}">reset
					your password here</a>.</p>
				<p>Sincerely,</p>
				<p>{{ site_name }}</p>
			</td>
		</tr>
	</table>
</center>
</body>
</html>
