alabaster
atomicwrites
attrs
babel
bleach
certifi
chardet
coverage
docutils
filelock
idna
imagesize
jinja2
markupsafe
more-itertools
packaging
pkginfo
pluggy
py
pygments
pyparsing
pytest-django
pytest
pytz
readme-renderer
requests-toolbelt
requests
snowballstemmer
sphinx
sphinxcontrib-websupport
toml
tox
tqdm
twine
urllib3
virtualenv
webencodings
