alabaster==0.7.12
atomicwrites==1.3.0
attrs==18.2.0
babel==2.6.0
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
docutils==0.14
filelock==3.0.10
idna==2.8
imagesize==1.1.0
jinja2==2.10
markupsafe==1.1.0
more-itertools==6.0.0; python_version > '2.7'
packaging==19.0
pkginfo==1.5.0.1
pluggy==0.8.1
py==1.7.0
pygments==2.3.1
pyparsing==2.3.1
pytest-django==3.4.3
pytest==4.3.0
pytz==2018.9
readme-renderer==24.0
requests-toolbelt==0.9.1
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.7.0
tqdm==4.31.1
twine==1.13.0
urllib3==1.24.1
virtualenv==16.4.0
webencodings==0.5.1
