{% extends "shop/cart/editable.html" %}
{% load i18n %}

{% block shop-cart-item %}
	<td>
		<div class="form-group">
			<input type="number" class="form-control" min="1" ng-model="cart_item.quantity" ng-model-options="{{ EDITCART_NG_MODEL_OPTIONS }}" ng-change="updateCartItem(cart_item)" />
		</div>
		<small class="text-nowrap">{% trans "Product Code" %}:</small>
		<strong ng-bind="cart_item.product_code"></strong>
	</td>
	<td>
		<div class="media" ng-bind-html="cart_item.summary.media"><!-- rendered by products/cart-`product`-media.html --></div>
	</td>
	<td class="text-right text-nowrap">
		<p ng-bind="cart_item.unit_price"></p>
		<div ng-repeat="extra_row in cart_item.extra_rows" ng-bind="extra_row.label"></div>
	</td>
	<td class="text-right text-nowrap">
		<p ng-bind="cart_item.line_total"></p>
		<div ng-repeat="extra_row in cart_item.extra_rows" ng-bind="extra_row.amount"></div>
	</td>
	<td>
		<button type="button" class="btn btn-xs btn-danger btn-block" ng-click="deleteCartItem(cart_item)">
			<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;{% trans "Remove" %}
		</button>
		<button type="button" class="btn btn-xs btn-info btn-block" ng-click="watchCartItem(cart_item)">
			<span class="glyphicon glyphicon-ok-circle"></span>&nbsp;{% trans "Watch Item" %}
		</button>
	</td>
{% endblock shop-cart-item %}
