{% extends "shop/cart/static.html" %}
{% load i18n %}

{% block shop-cart-tbody %}
	<tbody>
	{% for cart_item in cart.items %}
		<tr>
			<td rowspan="2" class="text-center">
				<p>{{ cart_item.quantity }}</p>
				<p class="text-left">
					<small>{% trans "Product Code" %}:</small>
					<strong>{{ cart_item.extra.product_code }}</strong>
				</p>
			</td>
			<td rowspan="2" class="text-left">
				<div class="media">{{ cart_item.summary.media }}</div>
			</td>
			<td class="text-right">{{ cart_item.unit_price }}</td>
			<td class="text-right">{{ cart_item.line_total }}</td>
		</tr>
		<tr class="no-border">
			<td colspan="2">
				{% for extra_row in cart_item.extra_rows %}
				<div>{{ extra_row.label }}: {{ extra_row.amount }}</div>
				{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
{% endblock shop-cart-tbody %}
