{% extends "shop/catalog/product-add2cart.html" %}
{% load i18n %}

{% block available-quantity-in-stock %}
<div class="d-flex flex-column">
	<span class="label">{% trans "In Stock" %}</span>
	<div class="lead mt-1" ng-cloak>
	{% verbatim %}{{ context.availability.quantity }}{% endverbatim %}
	</div>
</div>
{% endblock %}

{% block change-purchasing-quantity %}
<div class="d-flex flex-column w-25">
	<label for="quantity">{% trans "Quantity" %}</label>
	<div class="form-group" ng-show="context.availability.quantity">
		<input class="form-control" name="quantity" type="number" min="1" max="{% verbatim %}{{ context.availability.quantity }}{% endverbatim %}" ng-model="context.quantity" ng-model-options="{{ ADD2CART_NG_MODEL_OPTIONS }}" ng-change="updateContext()" />
	</div>
	<div class="lead mt-1" ng-hide="context.availability.quantity">
		{% trans "Currently not available" %}
	</div>
</div>
{% endblock %}

{% block available-starting-from %}
<div class="text-muted text-left" ng-show="context.availability.delayed">
	<small>{% trans "Available starting from {{ context.availability.earliest|date:'d. MMM.' }}" %}</small>
</div>
{% endblock %}
