{% load static sekizai_tags sass_tags %}
{% addtoblock "css" %}<link href="{% sass_src 'shop/css/product-gallery.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-bootstrap-plus/src/scrollpanel/scrollpanel.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% add_data "ng-requires" "bs-plus.scrollpanel" %}

<script id="scrollpanel/bsp-scrollpanel.tmpl.html" type="text/ng-template">
<panel-control class="left ">
	<span class="carousel-control-prev-icon left"></span>
</panel-control>
<ng-transclude></ng-transclude>
<panel-control class="right">
	<span class="carousel-control-next-icon right"></span>
</panel-control>
</script>
