{% load i18n static sekizai_tags %}

{% addtoblock "js" %}<script src="{% static 'shop/js/utils.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'shop/js/catalog.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "shop-ng-requires" %}django.shop.catalog{% endaddtoblock %}

<shop-catalog-list>
	{% for product in data.results %}
	<figure class="shop-list-item">
		<a href="{{ product.product_url }}">
			<h4>{{ product.product_name }}</h4>
			<div>{{ product.media }}</div>
		</a>
		<figcaption>
			<strong>{% trans "Price" %}: {{ product.price }}</strong>
		</figcaption>
	</figure>
	{% endfor %}
</shop-catalog-list>

{% include "shop/catalog/paginator.html" %}
